body{
    background-image: url("img/canvas_bg.png");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: 100% 100%;
    padding-left: 50px;
    padding-top: 50px;
}
canvas{
    border: 2px solid blueviolet;
    background-color: white;
}
.upload_btn{
    background-image: url("img/upload.png");
    background-repeat: no-repeat;
    background-color: transparent;
    background-position: center;
    outline: none;
    border: none;
    cursor: pointer;
    width: 50px;
    height: 50px;
    position: absolute;
    right: 130px;
    top: 81%;
}
.penc{
    background-image: url("img/pencil.png");
    background-repeat: no-repeat;
    background-color: transparent;
    background-position: center;
    background-size: 125%;
    outline: none;
    border: none;
    cursor: pointer;
    width: 50px;
    height: 50px;
    position: absolute;
    right: 130px;
    top: 30%;

}
.eras{
    background-image: url("img/eraser.png");
    background-repeat: no-repeat;
    background-color: transparent;
    background-position: center;
    outline: none;
    border: none;
    cursor: pointer;
    width: 50px;
    height: 50px;
    position: absolute;
    right: 50px;
    top: 30%;
}
.rect{
    background-image: url("img/rect.png");
    background-repeat: no-repeat;
    background-color: transparent;
    background-position: center;
    outline: none;
    border: none;
    cursor: pointer;
    width: 50px;
    height: 50px;
    position: absolute;
    right: 50px;
    top: 40%;
}
.circ{
    background-image: url("img/circle.png");
    background-repeat: no-repeat;
    background-color: transparent;
    background-position: center;
    outline: none;
    border: none;
    cursor: pointer;
    width: 50px;
    height: 50px;
    position: absolute;
    right: 130px;
    top: 40%;
}
.f_rect{
    background-image: url("img/f_rect.png");
    background-repeat: no-repeat;
    background-color: transparent;
    background-position: center;
    background-size: 110%;
    outline: none;
    border: none;
    cursor: pointer;
    width: 50px;
    height: 50px;
    position: absolute;
    right: 50px;
    top: 50%;
}
.f_circ{
    background-image: url("img/f_circ.png");
    background-repeat: no-repeat;
    background-color: transparent;
    background-position: center;
    background-size: 135%;
    outline: none;
    border: none;
    cursor: pointer;
    width: 50px;
    height: 50px;
    position: absolute;
    right: 130px;
    top: 50%;
}
.tria{
    background-image: url("img/tria.png");
    background-repeat: no-repeat;
    background-color: transparent;
    background-position: center;
    background-size: 110%;
    outline: none;
    border: none;
    cursor: pointer;
    width: 50px;
    height: 50px;
    position: absolute;
    right: 50px;
    top: 60%;
}
.f_tria{
    background-image: url("img/f_tri.png");
    background-repeat: no-repeat;
    background-color: transparent;
    background-position: center;
    background-size: 125%;
    outline: none;
    border: none;
    cursor: pointer;
    width: 50px;
    height: 50px;
    position: absolute;
    right: 210px;
    top: 60%;
}
.undo{
    background-image: url("img/undo.png");
    background-repeat: no-repeat;
    background-color: transparent;
    background-position: center;
    outline: none;
    border: none;
    cursor: pointer;
    width: 50px;
    height: 50px;
    position: absolute;
    right: 130px;
    top: 71%;
}
.redo{
    background-image: url("img/redo.png");
    background-repeat: no-repeat;
    background-color: transparent;
    background-position: center;
    outline: none;
    border: none;
    cursor: pointer;
    width: 50px;
    height: 50px;
    position: absolute;
    right: 50px;
    top: 71%;
}
.download{
    background-image: url("img/download.png");
    background-repeat: no-repeat;
    background-color: transparent;
    background-position: center;
    background-size: 110%;
    outline: none;
    border: none;
    cursor: pointer;
    width: 50px;
    height: 50px;
    position: absolute;
    right: 50px;
    top: 81%;
}
.clear{
    background-image: url("img/clear.png");
    background-repeat: no-repeat;
    background-color: transparent;
    background-position: center;
    background-size: 75% 85%;
    outline: none;
    border: none;
    cursor: pointer;
    width: 50px;
    height: 50px;
    position: absolute;
    right: 130px;
    top: 60%;
}
.select{
    background-color: transparent;
    cursor: pointer;
    outline: none;
    border-color: darkblue;
    position: absolute;
    right: 40px;
    top: 23.5%;
}
.lw{
    font-size: 20px;
    position: absolute;
    right: 80px;
    top: 20%;
}
.color{
    background-color: blueviolet;
    cursor: pointer;
    width: 150px;
    height: 50px;
    position: absolute;
    right: 2.5%;
    top: 12%;
}